## .NET / Rider Ignore
bin/
obj/
[Tt]emp/
/packages/
*.user
*.userosscache
*.sln.docuser
.idea/
*.iws
riderModule.iml
_ReSharper.Caches/

## Logs
logs/
*.log

## OS Ignore
.DS_Store
Thumbs.db

CLAUDE.md
ProjectPlan.md
.claude/
.claudememory
.claude.json
entities.md
IMPLEMENTATION_GUIDE.md